<link rel="stylesheet" href="/css/home.css">
<p>hello home</p>
<a href="/users/sign-up" style="color:white">Sign Up</a>
<br>
<br>
<br>
<a href="/users/sign-in" style="color:white">Sign In</a>
<br>
<br>
<br>
<section id="feed-post">
    <h4>Posts</h4>
    <form action="" id="new-post-form" method="POST">
        <textarea name="content" id="new-post-content" cols="30" rows="3"></textarea>
        <input type="submit" value="post">
    </form>
</section>
