<link rel="stylesheet" href="/css/home.css">
<p>hello home</p>
<a href="/users/sign-up" style="color:white">Sign Up</a>
<br>
<br>
<br>
<a href="/users/sign-in" style="color:white">Sign In</a>
<br>
<br>
<br>
