<h1>sign In</h1>

<form action="/users/session" method="POST">
  <input type="text" name="email" placeholder="Email-Id" required />
  <br />
  <input type="password" name="password" placeholder="Password" required />
  <br />
  <input type="submit" value="Sign In" />
  <br />
</form>

<p><a href="/users/auth/google">Google SignIn/SignUp</a></p>
