<h1>sign In</h1>

<form action="/users/session" method="POST">
    <input type="text" name="email" placeholder="Email-Id" required>
    <br>
    <input type="password" name="Password" placeholder="Password" required>
    <br>
    <input type="submit" value="Sign In">
    <br>
</form>